In [11]:
import pandas as pd

In [20]:
# 1. DataFrame 생성
df = pd.DataFrame()
df["Name"] = ["Jacky", "Steven", "George"]
df["Age"] = [38, 25, 23]
df["Driver"] = [True, False, True]

df

     Name  Age  Driver
0   Jacky   38    True
1  Steven   25   False
2  George   23    True

In [21]:
# 2. 파이썬 dictionary 사용해서 DataFrame 만들기
data = {
    "Name":["Jacky", "Steven", "George"],
    "Age": [38, 25, 23],
    "Driver": [True, False, True]
}
df = pd.DataFrame(data)

df

     Name  Age  Driver
0   Jacky   38    True
1  Steven   25   False
2  George   23    True

In [22]:
# 3. Series 접근
print("3-1. Series 접근하기 - Age")
print(df["Age"])
print()

print("3-2. Series 접근하기 - Age, Driver")
print(df[["Age", "Driver"]])
print()

3-1. Series 접근하기 - Age
0    38
1    25
2    23
Name: Age, dtype: int64

3-2. Series 접근하기 - Age, Driver
   Age  Driver
0   38    True
1   25   False
2   23    True

In [23]:
# 4. index에 이름 설정하기
df.index.name = "index"
df

         Name  Age  Driver
index
0       Jacky   38    True
1      Steven   25   False
2      George   23    True

In [24]:
# 5. DataFrame 열 추가/수정/삭제
print("5-1. 열 추가")
df["Location"] = ["Area 1", "Area 2", "Area 3"]
print(df)
print()

print("5-2. 열 이름 변경")
df = df.rename(columns={"Name": "Person"})
print(df)
print()

print("5-3. 열 삭제")
df = df.drop(columns="Location")
print(df)

5-1. 열 추가
         Name  Age  Driver Location
index
0       Jacky   38    True   Area 1
1      Steven   25   False   Area 2
2      George   23    True   Area 3

5-2. 열 이름 변경
       Person  Age  Driver Location
index
0       Jacky   38    True   Area 1
1      Steven   25   False   Area 2
2      George   23    True   Area 3

5-3. 열 삭제
       Person  Age  Driver
index
0       Jacky   38    True
1      Steven   25   False
2      George   23    True

In [25]:
# 6. DataFrame 행 추가/수정/삭제
print("6-1. 행 추가")
data = {
    "Person": ["Harry"],
    "Age": [10],
    "Driver": [False]
}
new_df = pd.DataFrame(data, index=["4"])
df = pd.concat([df, new_df])
df

6-1. 행 추가

   Person  Age  Driver
0   Jacky   38    True
1  Steven   25   False
2  George   23    True
4   Harry   10   False

In [26]:
print("6-2. 행 선택")
print(df[0:2])
print()

print("6-3. 행 선택 - loc")
print(df.loc[2]) # 인덱스가 2인 데이터 접근
print(df.loc[2, "Person"]) # 인덱스 2의 Person 데이터 접근
print()

print("6-4. 행 선택 - iloc")
print(df.iloc[1]) # 1번째 데이터 접근
print(df.iloc[1, 1]) # 1번째의 1번 데이터 접근
print()

print("6-5. 행 선택 - 조건")
print(df["Age"] > 25)
print(df[df["Age"] > 25])

6-2. 행 선택
   Person  Age  Driver
0   Jacky   38    True
1  Steven   25   False

6-3. 행 선택 - loc
Person    George
Age           23
Driver      True
Name: 2, dtype: object
George

6-4. 행 선택 - iloc
Person    Steven
Age           25
Driver     False
Name: 1, dtype: object
25

6-5. 행 선택 - 조건
0     True
1    False
2    False
4    False
Name: Age, dtype: bool
  Person  Age  Driver
0  Jacky   38    True